/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| CORE: Buttons
|––––––––––––––––––––––––––––––––––––––––––––––––––
|
| The button or submit should by default have button styles,
| but once a class is put on them, they should be wiped of styles so you dont have to backpedal.
|
| If you want to put a class on the button but keep the default styles,
| just add the button class to the classes you want.
|
*/

button {
  display: inline-block;
  outline: none;
  border: none;
  background-color: transparent;
  padding: 0;
  color: $white;
  cursor: pointer;

  &:hover,
  &:focus {
    outline: none;
  }
}



.btn,
[type='submit']:not([class]),
[type='reset']:not([class]) {
  $self: &;
  display: inline-block;
  flex-shrink: 0;
  min-width: 8.4rem;
  border: 2px solid #7AADA3;
  background-color: #7AADA3;
  padding: 0.75rem 1.4rem 0.65rem;
  letter-spacing: 2px;
  line-height: 1;
  font-family: $link-font;
  font-size: 0.8rem;
  font-weight: bold;
  color: $background;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  transition: border-color 300ms ease-in-out,
              background-color 300ms ease-in-out,
              color 300ms ease-in-out;
  user-select: none;
  cursor: pointer;

  &:hover,
  &:focus {
    outline: none;
    border-color: $primary;
    background-color: $primary;
    color: $background;
  }

  &[disabled] {
    opacity: 0.8;
    cursor: not-allowed;

    &:hover,
    &:focus {
      outline: none;
      border-color: $primary;
      background-color: $primary;
      color: $background;
    }
  }

  /* border button */
  &--border {
    border-color:  #7AADA3;
    background: transparent;
    padding: 0.55rem 1.4rem;
    font-size: 0.7rem;
    color:  #7AADA3;

    &:hover,
    &:focus {
      border-color: $link-hover;
      background-color: $link-hover;
      color: $white;
    }
  }

  /* slim button */
  &--sm,
  &--slim {
    border-width: 1px;
    padding: 0.45rem 1.2rem;
    font-size: 0.7rem;
    font-weight: normal;

    &#{$self}--border {
      padding: 0.5rem 1.2rem;
      font-size: 0.6rem;
    }
  }

  /* phat button */
  &--lg,
  &--phat {
    border-width: 2px;
    padding: 0.8rem 2.4rem;
    font-size: 0.8rem;
    font-weight: bold;

    &#{$self}--border {
      padding: 0.7rem 2.4rem;
      font-size: 0.8rem;
    }
  }
}







.has-hover-icon {

  .show-on-hover {
    transition: color 800ms ease;
  }

  &:not(:hover) .show-on-hover {
    color: transparent !important;
  }
}