/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| CORE: Media
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/

video, img, svg {
	display: block;
	max-width: 100%;
	height: auto;
}

svg {
	width: 100%;
}

.svg-fill {
	fill: currentColor;
}

.svg-stroke {
	fill: none;
	stroke: currentColor;
	stroke-width: 5;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}

.no-linecap {
	stroke-linecap: unset;
}

.no-linejoin {
	stroke-linejoin: unset;
}




.image-overflow {
	position: relative;
	overflow: hidden;

	@include above(md) {
		img {
			position: absolute;
			top: 50%;
			right: -50%;
			bottom: -50%;
			left: 50%;
			transform: translate(-50%, -50%);
			min-width: 100%;
			min-height: 100%;
		}
	}
}

.triple-image {
	display: flex;
	flex-direction: column;

	// the tall image to the left
	&__tall {
		display: flex;
	}

	// the two images to the right
	&__double {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
	}

	&__top {
		flex: 1 1 auto;
	}

	&__bottom {
		flex: 1 1 auto;
	}

	@include above(md) {
		flex-direction: row;

		&__tall {
			width: 60%;
			max-width: 38.4rem;
		}
	}
}